<a class="card-link" href="<%= course_path(course) %>">
  <div
    class="card-category"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= course.background_image_url %>)"
  >
    <%= course.subject %>
  </div>
</a>
