<header class="page-header">
  <h1>CraftMingle</h1>
  </div>
    <h4>Bring you to the skills you <strong>want</strong> to the<strong> people</strong> who have it!</h4>
    <p>Change your life and learn a new skill today.</p>
  </div>
</header>
<%# 
<div class="banner">
  <div class="container mt-5">
    <div class="title">
    <h1>Craft Mingle</h1>
    </div>
    <h4>Bring you to the skills you <strong>want</strong> to the<strong> people</strong> who have it!</h4>
    <p>Change your life and learn a new skill today.</p>
  </div>
</div> %>
