<div class="banner d-flex justify-content-center mt-5">
<h1>You're all BOOKED</h1>
</div>

<div class="container mt-5">
  <h2>Course: <em class=""><%=  @course.subject %></em></h2>
  <p>
    from <%= @booking.start_date.strftime('%d %b %Y') %> to <%= @booking.end_date.strftime('%d %b %Y')%>
  </p>
 </div>
