<div class="card-category">
<h1>Course</h1>
</div>

<body>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @course.subject %></h5>
    <p class="card-text"><%= @course.user_id %></p>
  </div>
</div>
</body>
